@use "./reset";
@use "./colors";
@use "./components";
@use "./mixins";

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
}

// nawigacja
.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1rem;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}
	&__box {
		position: relative;
		height: 30px;
		width: 40px;
	}
	&__bars,
	&__bars::after,
	&__bars::before {
		@include mixins.burgerBtn;
	}
	&__bars {
		width: 100%;
		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}
